body {
    font-family: Arial, Helvetica, sans-serif;
    color:#555555;
    font-weight:300;
    max-width: 920px;

    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.donation_wrapper {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.donation_wrapper ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.donation_wrapper li{
    display: list-item;
}

header, footer {
    width:220px;
    float:left;
    position:fixed;
}

footer {
    bottom:10px;
}

.section_wrapper {
    padding-top: 1px;
    margin-left: 220px;
}
section {
    width:100%;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
    color:#222;
    margin:20px 0 5px;
}
h1, h2, h3 {
    line-height:1.1;
}
h1 {
    font-size:28px;
}
h2 {
    color:#393939;
}
h3, h4, h5, h6 {
    color:#494949;
}

/* Hyperlinks */
a {
    color:#39c;
    font-weight:400;
    text-decoration:none;
}
a:hover {
    color:#069;
}
a strong {
    font-weight:700;
}
a small {
    font-size:11px;
    color:#777;
    margin-top:-0.6em;
    display:block;
}
a:hover small {
    color:#777;
}

/* Other */
p, ul, ol, table, pre, dl {
    margin:0 0 5px;
}

section p {
    text-align: justify;
    text-justify: inter-word;
}

small {
    font-size:11px;
}

strong {
    color:#222;
    font-weight:700;
}

img {
    width:100%;
}

header ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
header li{
    display: list-item;
}

.scale_43 {
    display: inline-block;
    position: relative;
    width: 100%;
}
.scale_43 #dummy {
    padding-top: 75%; /* 4:3 aspect ratio */
}
.scale_43 #element {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: silver; /* show me! */
}



/* For small screens */
@media print, screen and (max-width: 720px) {

    body {
        padding:5px;
        word-wrap:break-word;
    }

    header, section, footer {
        float:none;
        position:static;
        width:auto;
    }

    .donation_wrapper {
        position: fixed;
        top: 0;
        right: 5px;
        transform: translateY(0);
    }

    .donation_wrapper li{
        display: inline-table;
    }

    .section_wrapper {
        margin-left: 0px;
    }

    section {
        border:1px solid #e5e5e5;
        border-width:1px 0;
        padding:10px 0;
        margin:0 0 20px;
    }

    header a small {
        display:inline;
    }

    header li{
        padding-right: 15px;
        display: inline;
    }

}
